<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
<body class="bg-secondary">    
<div class="text-white" style="text-align: center;margin-top: 10px;">
   <h1>Welcome to <%= title %></h1>
   <br>
   <h2>Merhaba </h2>
  <h2>Welcome</h2>
  <h2>Bienvenue</h2>
  <h2>Willkommen</h2>
  <h2>Benvenuto</h2>
  <h2>ようこそ </h2>
</div>
<div class="container text-danger" style="margin-top: 10px;text-align: center;">
   <div class="row">
      <div class="col-xs-6 col-md-3 col-sm-3"; style="float: right;">
   <a href="./about"> <p class="text-black">About Me</p> </a>
      </div>
      <div class="col-xs-6 col-md-3 col-sm-3"; style="float: right;">
         <a href="./services"> <p class="text-black">Services</p> </a>
   </div>
   <div class="col-xs-6 col-md-3 col-sm-3"; style="float: right;">
      <a href="./products"> <p class="text-black">Products</p> </a>
</div>
<div class="col-xs-6 col-md-3 col-sm-3"; style="float: right;">
   <a href="./contact"> <p class="text-black">Contact Info</p> </a>
</div>
</div>
</div>
</body>

   <!-- <p>Welcome to <%= title %></p>
<p>This is our Home Page</p> -->

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

