<%-include('../partials/header.ejs');%>
<%-include('../partials/main_nav.ejs');%>

<!--content for the Add page-->
<div class = "container">
    <div class = "row">
        <div class ="offset-md-3 col-md-6">
        <h1><%= title %></h1>
        <form class = "form" method="POST">
            <div class ="form group">
                <label for="contactNameTextField">Contact Name</label>
                <input type="text" class="form control"
                id="contactNameTextField"
                placeholder="Enter the Book Title"
                name="contactName"
                value="<%=user.contactName%>"
                required>
            </div>

            <div class ="form group">
                <label for="emailTextField">email</label>
                <input type="text" class="form control"
                id="emailTextField"
                placeholder="Enter the Book's Author"
                name="email" 
                value="<%=user.email%>"
                required>
            </div>

            <div class ="form group">
                <label for="contactNumberTextField">Contact Number</label>
                <input type="text" class="form control"
                id="contactNumberTextField"
                placeholder="Enter the year of publication"
                name="contactNumber" 
                value="<%=user.contactNumber%>"
                required>
            </div>

            <button class = "btn btn-primary" type="submit"><i class ="fas fa-edit"></i>submit</button>
            <a href='/userList' class="btn btn-warning"><i class="fas fa-undo"></i>cancel</a>  
        
        </form>
        </div>
        </div>
    </div>


  
<%- include('../partials/bottom_nav'); -%>
<%- include('../partials/footer'); -%>

