<%- include('../partials/header'); -%>
<%- include('../partials/main_nav'); -%>
<p>Welcome to <%= title %></p>
<main class="container">
<div class="row">
    <div class="col-md-offset-3 col md-8">
        <h1><%= title %></h1>
        <%if(typeof displayName =='string' && displayName){%>
        <a href="/userList/add" class="btn btn-primary" role="button">
            <i class ="fas fa-plus-circle"></i>Add a Book</a>
            <%}%>
        <br>
        <table class = "table table-bordered table-striped table-hover">
            <tr>
                <th class="text-content col-2">Contact Name</th>
                <th class="text-content col-2">Email</th>
                <th class="text-content col-1">Contact Number</th>
                <%if(typeof displayName =='string' && displayName){%>
                <th class="text-content col-1"></th>
                <th class="text-content col-1"></th>
                <%}%>
                </tr>
           <% UserList.sort((a, b) => a.contactName.localeCompare(b.contactName))
           for(let count = 0; count<UserList.length; count++){ %>
            <tr>
                <td class = "text-center col-2"><%=UserList[count].contactName%></td>
                <td class = "text-center col-2"><%=UserList[count].email%></td>
                <td class = "text-center col-1"><%=UserList[count].contactNumber%></td>
                <td class="text-center">
                    <td class ="text-center col-1"><a href="/userList/<%=UserList[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Update</a></td>
                  </td>

                  <td class="text-center">
                    <td class ="text-center col-1"><a href="/userList/delete/<%=UserList[count]._id%>" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a></td>
                  </td>

                <!-- <%if(typeof displayName =='string' && displayName){%>
                
            <%}%> -->
            </tr>
                <%}%>
            </table>

        </div>
    </div>
    </main>
<%- include('../partials/bottom_nav'); -%>
<%- include('../partials/footer'); -%>